<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<h2>Please Login:</h2>
<!--localhost:3200/users/login-->
<form action="/users/login" method="post" th:object="${User}">
    <label for="username">Username</label>
    <input type="text" name="username" id="username"/>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password"/>
    <input type="submit" value="Login"/>
</form>
</body>
</html>